.btn {
    color: #ffffff;
    border: 3px solid #05472A;
    background-image: -webkit-linear-gradient(30deg, #05472A 50%, transparent 50%);
    background-image: linear-gradient(30deg, #05472A 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  .btn:hover {
    background-position: 100%;
    color: #05472A;
  }
  .result {
    font-size: 40px;
  }

  body {
    background: url(imgs/christmas3.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
  }

h1 {
  font-size: 3vw;
}
.size {
  height: 100vh;
  width: 100vw;
}